<h2>All Historical Landmarks</h2>
<ul>
<% @landmarks.all.each do |landmark| %>
	<li><a href="/landmarks/<%= landmark.id %>"> <%= landmark.name %>
		<ul>
			<li>Year Completed:<%= landmark.year_completed %></li>
		</ul>
	</li>
 <% end %>
</ul>
<!-- add content here -->

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
