<h2>Create New Landmark</h2>
<form action="/landmarks" method="POST">
	<p>Name:<input type="text" name="landmark[name]" id="landmark_name"></p>
	<p>Year:<input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p>
 	<input type="submit" value="Create New Landmark">
</form>
<br>
<!-- add content here -->

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
